:root {
  --color1: #5B2333;
  --color2: #F7F4F3;
  --color3: #564D4A;
  --color4: #F24333;
  --color5: #BA1B1D;
  --font1:  'Merriweather', serif;
  --font2: 'Montserrat', sans-serif;
  --font3: 'Lato', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
    background-color: var(--color2);
}